<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.chris.shop.mapper.ItemsImgMapper">
    <resultMap id="simpleItemImgResultMap" type="top.chris.shop.pojo.vo.RenderItemInfoVo$SimpleItemsImg">
        <result property="isMain" column="is_main"/>
        <result property="url" column="url"/>
    </resultMap>
    <select id="querySimpleItemsImgByItemId" resultMap="simpleItemImgResultMap" parameterType="String">
        select is_main,url from items_img where item_id = #{itemId}
    </select>
</mapper>
